@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro&display=swap');

:root {
  --clr-manhattan: #f4c1a6;
  --clr-spruce: #3b504f;
  --clr-tana: #D3D6BB;
  --clr-oyster: #ead5ce;
  --clr-apple: #e59073;
  --clr-sidecar: #faf7f1;
  --clr-swan: #d7ece6;

  --ff-primary: 'Amaranth', sans-serif;
  --ff-accent: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
  font-family: var(--ff-accent);
}

h1 {
  font-family: var(--ff-primary);
  font-size: 4.2rem;
  line-height: 1rem;
  color: var(--clr-spruce);
  text-shadow: white;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* COLOR UTILITY */

.manhattan {
  color: var(--clr-spruce);
  background-color: var(--clr-manhattan);
}

.tana {
  color: var(--clr-spruce);
  background-color: var(--clr-tana);
}

.spruce {
  color: var(--clr-sidecar);
  background-color: var(--clr-spruce);
}

.oyster {
  color: var(--clr-apple);
  background-color: var(--clr-oyster);
}

.sidecar {
  background-color: var(--clr-sidecar);
}

.swan {
  color: var(--clr-spruce);
  background-color: var(--clr-swan);
}

.apple {
  color: #fff;
  background-color: var(--clr-apple);
}

/* UTILITIES */

.line-height {
  line-height: 5rem;
}

.amaranth {
  font-family: var(--ff-primary);
}

/* COLUMNS */

.container {
  margin: 0 5rem;
  padding: 0 2rem;
}

.equal-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0 5rem;
}

.equal-columns > * {
  flex-basis: 100%;
  padding: 0 2rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

/* HEADER */

.header {
  height: 35.5rem;
}

.header-title {
  padding-left: 4rem;
}

.header-img {
  object-fit: scale-down;
  height: 42rem;
  width: 100%;
}

.header-body {
  padding: 2rem 0 4rem 0;
}

.main {
  color: var(--clr-apple);
  padding: 3rem 1rem;
}

.info-card {
  margin: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}









.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}





.action:link, .action:visited {
  padding: 0.6em 4em;
  background-color: var(--clr-spruce);
  border: 2px solid var(--clr-spruce);
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.action:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}